{%extends 'base.html'%}

{%block body%}

<form method="post">
    {{form.csrf_token}}

    <!-- {{ form.errors }} -->

    <div class="mb-3">
        <label for="reiseveranstalterBundesland" class="form-label">Bundesland</label>
        {{form.reiseveranstalterBundesland(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="reiseveranstalterDescription" class="form-label">Description</label>
        {{form.reiseveranstalterDescription(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="reiseveranstalterTelefonnummer" class="form-label">Telefonnummer</label>
        {{form.reiseveranstalterTelefonnummer(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="reiseveranstalterPostleitzahl" class="form-label">Postleitzahl</label>
        {{form.reiseveranstalterPostleitzahl(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="reiseveranstalterAdresse" class="form-label">Adresse</label>
        {{form.reiseveranstalterAdresse(class_="form-control")}}
    </div>


    <div class="mb-3">
        <label for="reiseveranstalterBueroname" class="form-label">Bueroname</label>
        {{form.reiseveranstalterBueroname(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="reiseveranstalterStadt" class="form-label">Stadt</label>
        {{form.reiseveranstalterStadt(class_="form-control")}}
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{%endblock%}