{%extends 'base.html'%}

{%block body%}

<form method="post">
    {{form.csrf_token}}

    <!-- {{ form.errors }} -->

    <div class="mb-3">
        <label for="reiseKosten" class="form-label">Kosten</label>
        {{form.reiseKosten(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="reiseZielort" class="form-label">Zielort</label>
        {{form.reiseZielort(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="reiseLand" class="form-label">Land</label>
        {{form.reiseLand(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="reiseDauer" class="form-label">Dauer</label>
        {{form.reiseDauer(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="reiseHotel" class="form-label">Hotel</label>
        {{form.reiseHotel(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="reiseBueroId" class="form-label">BüroId</label>
        {{form.reiseBueroId(class_="form-control")}}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{%endblock%}