{%extends 'base.html'%}

{%block body%}

<form method="post">
    {{form.csrf_token}}

    <!-- {{ form.errors }} -->

    <div class="mb-3">
        <label for="reisendeId" class="form-label"></label>
        {{form.reisendeId(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="reisendeVorname" class="form-label">Vorname</label>
        {{form.reisendeVorname(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="reisendeNachname" class="form-label">Nachname</label>
        {{form.reisendeNachname(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="reisendeAdresse" class="form-label">Adresse</label>
        {{form.reisendeAdresse(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="reisendeBundesland" class="form-label">Bundesland</label>
        {{form.reisendeBundesland(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="reisendeTelefonnummer" class="form-label">Telefonnummer</label>
        {{form.reisendeTelefonnummer(class_="form-control")}}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{%endblock%}