{%extends 'base.html'%}

{%block body%}

<form method="post">
    {{form.csrf_token}}

    <!-- {{ form.errors }} -->

    <div class="mb-3">
        <label for="teilnehmerVorname" class="form-label">Vorname</label>
        {{form.teilnehmerVorname(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="teilnehmerNachname" class="form-label">Nachname</label>
        {{form.teilnehmerNachname(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="teilnehmerAdresse" class="form-label">Adresse</label>
        {{form.teilnehmerAdresse(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="teilnehmerBundesland" class="form-label">Bundesland</label>
        {{form.teilnehmerBundesland(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="teilnehmerTelefonnummer" class="form-label">Telefonnummer</label>
        {{form.teilnehmerTelefonnummer(class_="form-control")}}
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{%endblock%}