{%extends 'base.html'%}

{%block body%}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Vorname</th>
      <th scope="col">Nachname</th>
      <th scope="col">Telefonnummer</th>
      <th scope="col">Adresse</th>
      <th scope="col">Bundesland</th>
      
    </tr>
  </thead>
  <tbody>

    {% for teilnehmer in reiseteilnehmer.items %}
    <tr>
      <td>{{teilnehmer.Vorname}}</td>
      <td>{{teilnehmer.Nachname}}</td>
      <td>{{teilnehmer.Telefonnummer}}</td>
      <td>{{teilnehmer.Adresse}}</td>
      <td>{{teilnehmer.Bundesland}}</td>
      <td>
        <a class="btn btn-success" href="/reiseteilnehmer/edit?ReisendeId={{teilnehmer.ReisendeId}}">✏️</a>
        <form action="/reiseteilnehmer/delete" method="post" style="display: inline;">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="hidden" name="ReisendeId" id="ReisendeId" value="{{teilnehmer.ReisendeId}}">
          <button class="btn btn-danger" onclick="reiseteilnehmer_delete(this); return false;">🗑️</button>
        </form>
      </td>
    </tr>
    {% endfor %}


  </tbody>


  
</table>


<div id="data-navigation">
  <a href="{{ url_for('reiseteilnehmer_blueprint.reiseteilnehmer', page=1) }}"
     class="btn btn-outline-primary btn-sm
           {% if reiseteilnehmer.page == 1 %}disabled{% endif %}">
    &laquo;&laquo;
  </a>
  <a href="{{ url_for('reiseteilnehmer_blueprint.reiseteilnehmer', page=reiseteilnehmer.prev_num) }}"
     class="btn btn-outline-primary btn-sm
           {% if reiseteilnehmer.page == 1 %}disabled{% endif %}">
    &laquo;
  </a>
  <a class="btn btn-primary btn-sm">
    {{ reiseteilnehmer.page }}
  </a>

  <a href="{{ url_for('reiseteilnehmer_blueprint.reiseteilnehmer', page=reiseteilnehmer.next_num) }}"
     class="btn btn-outline-primary btn-sm
           {% if reiseteilnehmer.page == reiseteilnehmer.pages or reiseteilnehmer.pages == 0 %}disabled{% endif %}">
    &raquo;
  </a>
  <a href="{{ url_for('reiseteilnehmer_blueprint.reiseteilnehmer', page=reiseteilnehmer.pages) }}"
     class="btn btn-outline-primary btn-sm
           {% if reiseteilnehmer.page == reiseteilnehmer.pages or reiseteilnehmer.pages == 0 %}disabled{% endif %}">
    &raquo;&raquo;
  </a>
</div>


{%endblock%}