{%extends 'base.html'%}

{%block body%}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Büroname</th>
      <th scope="col">Beschreibung</th>
      <th scope="col">Telefonnummer</th>
      <th scope="col">Adresse</th>
      <th scope="col">Bundesland</th>
      
    </tr>
  </thead>
  <tbody>

    {% for veranstalter in reiseveranstalter.items %}
    <tr>
      <td>{{veranstalter.Bueroname}}</td>
      <td>{{veranstalter.description}}</td>
      <td>{{veranstalter.telefonnummer}}</td>
      <td>{{veranstalter.Adresse}}</td>
      <td>{{veranstalter.bundesland}}</td>
      <td>
        <a class="btn btn-success" href="/reiseveranstalter/edit?bueroId={{veranstalter.bueroId}}">✏️</a>
        <form action="/reiseveranstalter/delete" method="post" style="display: inline;">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="hidden" name="bueroId" id="bueroId" value="{{veranstalter.bueroId}}">
          <button class="btn btn-danger" onclick="reiseveranstalter_delete(this); return false;">🗑️</button>
        </form>
      </td>
    </tr>
    {% endfor %}


  </tbody>


  
</table>

<div id="data-navigation">
  <a href="{{ url_for('reiseveranstalter_blueprint.reiseveranstalter', page=1) }}"
     class="btn btn-outline-primary btn-sm
           {% if reiseveranstalter.page == 1 %}disabled{% endif %}">
    &laquo;&laquo;
  </a>
  <a href="{{ url_for('reiseveranstalter_blueprint.reiseveranstalter', page=reiseveranstalter.prev_num) }}"
     class="btn btn-outline-primary btn-sm
           {% if reiseveranstalter.page == 1 %}disabled{% endif %}">
    &laquo;
  </a>
  <a class="btn btn-primary btn-sm">
    {{ reiseveranstalter.page }}
  </a>

  <a href="{{ url_for('reiseveranstalter_blueprint.reiseveranstalter', page=reiseveranstalter.next_num) }}"
     class="btn btn-outline-primary btn-sm
           {% if reiseveranstalter.page == reiseveranstalter.pages or reiseveranstalter.pages == 0 %}disabled{% endif %}">
    &raquo;
  </a>
  <a href="{{ url_for('reiseveranstalter_blueprint.reiseveranstalter', page=reiseveranstalter.pages) }}"
     class="btn btn-outline-primary btn-sm
           {% if reiseveranstalter.page == reiseveranstalter.pages or reiseveranstalter.pages == 0 %}disabled{% endif %}">
    &raquo;&raquo;
  </a>
</div>


{%endblock%}